<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>index</title>
        <meta name="twitter:" content="">
<meta name="webkit" content="">

    </head>
    <body>
        index
        <hr>
        ceshi1
        <img src="../lib/images/33.png" alt="">
        <img src="../lib/images/video02.png" alt="">
        <div class="">
            12
        </div>
        <div class="sh" style="color:red">
            hahah
        </div>
        <div class="st">

        </div>
    </body>
</html>
